<a id="home"></a>
<header>
        <div class="logo-container">
            <img class="logo" src="ASSETS/IMAGES/Logo_tr.png" />
        </div>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="#courses">Kurse</a></li>
                <li><a class="nav-link" href="#teachers">Lehrer</a></li>
                <li><a class="nav-link" href="#prices">Preise</a></li>
                <li><a class="nav-link" href="#contact">Kontakt</a></li>
                <li><a class="nav-link last-link" href="#legalNotice">Impressum</a></li>
            </ul>
        </nav>
        <div class="login-container">
            <button id="loginButton" class="login-button">Anmelden</button>
        </div>
</header>