<!-- Modal Anfang -->
    <div id="loginModal" class="login-modal">
        <form class="modal-content animate" action="/login">
            <div class="modal-content-container">
                <span id="closeModal" class="close-modal">&times;</span>
                <label for="username">Benutzername</label>
                <input class="form-element" type="text" placeholder="Benutzername eingeben" name="username" required>
                <label for="password">Passwort</label>
                <input class="form-element" type="password" placeholder="Passwort eingeben" name="password" required>
                <button class="form-element form-button" type="submit">Login</button>
            </div>
        </form>
    </div>
    <!-- Modal Ende -->