<a id="prices"></a>
            <div class="content">
                <h1> Preise </h1>
                <p>Für Alle, die sich schon entschieden haben, ein festes Ziel vor Augen haben oder sich auf ein Musikstudium vorbereiten:<br>
                    wöchentlicher Unterricht (2 x 30 Minuten Einzelunterricht oder 1 x 60 Minuten Gruppe/Band).<br>
                    <b><u>Schüler/Studenten/Azubis</u><br>
                    Preis: 79,-- EUR</b> (Laufzeit 6 Monate mit 2-monatiger Kündigungsfrist)<br>
                    <b>Preis: 72,-- EUR</b> (Laufzeit 12 Monate mit 2-monatiger Kündigungsfrist)<br>
                    <b><u>Erwachsene:<br></u>
                    Preis: 89,-- EUR</b> (Laufzeit 6 Monate mit 2-monatiger Kündigungsfrist)<br>
                    <b>Preis: 82,-- EUR</b> (Laufzeit 12 Monate mit 2-monatiger Kündigungsfrist)<br>
                    <b><u>Musikalische Früherziehung</u><br>
                    Preis: 35,-- EUR</b> (wöchentlich 45 Minuten, Laufzeit 6 Monate)<br>
                    Alle angegebenen Preise sind Endpreise <b>pro Monat</b>     
                </p>
            </div>