{{> header}}
<main>
    <div class="sidebar"></div>
    <div class="page-content">
        {{> content}}
        {{> courses}}
        {{> teachers}}
        {{> prices}}
        {{> contact}}
        {{> legal}}
    </div>
    <div class="sidebar"></div>
</main>
{{> footer}}
