<a id="home"></a>
<header>
        <div class="logo-container">
            <img class="logo" src="ASSETS/IMAGES/Logo_tr.png" />
        </div>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="#courses">Meine Kurse</a></li>
                <li><a class="nav-link" href="#teachers">Meine Schüler/Lehrer</a></li>
                <li><a class="nav-link last-link" href="#legalNotice">Impressum</a></li>
            </ul>
        </nav>
        <div class="login-container">
            <a href="/">
            <button class="login-button">Logout</button>
            </a>
        </div>
</header>
<main>
    <div class="sidebar"></div>
    <div class="page-content">
        <div class="content">
            <h1> Willkommen bei READY 4 STAGE NUTZER XY </h1>
            <p>Hier stehen deine Konto Informationen usw. blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
            </p>
        </div>
        <a id="courses"></a>
        <div class="content">
            <h1> Meine Kurse </h1>
            <p>Hier werden alle meine Kurse aufgelistet.
            </p>
        </div>
        <a id="teachers"></a>
        <div class="content">
            <h1> Lehrer </h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        {{> legal}}
    </div>
    <div class="sidebar"></div>
</main>
{{> footer}}
